<label class="title">Find any <span>country</span> in the world.</label>
<img class="img-bg"
  src="https://s3-alpha-sig.figma.com/img/14cf/8738/d87d84c21b318297becaea64af3a7256?Expires=1623628800&Signature=X3vEV~V3qiSSLIZ4IMugbvyPbsjQ7x3NUXhpRASnwGTm6bgtcqU0VCyybQayXUZq6lardQnGBgb5VleP0OahbmBE-CF2owZT283IwH02sA4EP65ftOY6IPKVT0DklPfHwYcjruvicX6Zhq5ixSfDtXdoCP5ODgio8rBRNJc43s0qlWM5tD0NQNm13qzmdrO1c8mhLq4nQ6gb-E7ERIWpc3ylrkSslJIWybXyIXQpg5wyPAZ3HhYeDISVMAw75TopWz~tHYQJK6kPpvQnj~9nYIESWrInGwEhxCJg~2pJUB7x4RjPEc4puh8Lwi46mv0oYl-uXv1~IOUwK6nROTZgjA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
<div class="txt-filter">
  <input  type="text" placeholder="Search country" [(ngModel)]="filterName">
  <select [(ngModel)]="selectFilter" (change)="searchFav(selectFilter)">
    <option value="0">Show All</option>
    <option value="1">Favorites</option>
    <option value="2">Africa</option>
    <option value="3">America</option>
    <option value="4">Asia</option>
    <option value="5">Europa</option>
    <option value="6">Oceania</option>
  </select>
  <span (click)="applyFav = true">
    <span class="material-icons">search</span>
  </span>
</div>

<div class="container-countries">
  <div class="col" *ngIf="(ListAfricaCountries | appFilterName: filterName) as result"> 
    <div  *ngIf="(selectFilter == '0' || selectFilter == '1' || selectFilter == '2') && result.length != 0 && (!applyFav || (applyFav && resultAfr>0))">
      <label class="sub-title">Africa</label>
      <br><br>
      <div class="country" *ngFor="let i of ListAfricaCountries | appFilterName: filterName| orderBy:'name'">
        <div (click) = "selectedCountry(i)" *ngIf="!applyFav">
          <img src="{{i.flag}}">
          <label>{{i.name}}</label>
          <span *ngIf="i.fav == true" class="material-icons">star_rate</span>
        </div>

        <div (click) = "selectedCountry(i)" *ngIf="applyFav && i.fav">
          <img src="{{i.flag}}">
          <label>{{i.name}}</label>
          <span class="material-icons">star_rate</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col" *ngIf="(listAmericaCountries | appFilterName: filterName) as result">
    <div  *ngIf="(selectFilter == '0' || selectFilter == '1' || selectFilter == '3') && result.length != 0 && (!applyFav || (applyFav && resultAme>0))">
      <label class="sub-title">America</label>
      <br><br>
      <div class="country" *ngFor="let i of listAmericaCountries | appFilterName: filterName| orderBy:'name'">
        <div (click) = "selectedCountry(i)" *ngIf="!applyFav">
          <img src="{{i.flag}}">
          <label>{{i.name}}</label>
          <span *ngIf="i.fav == true" class="material-icons">star_rate</span>
        </div>

        <div (click) = "selectedCountry(i)" *ngIf="applyFav && i.fav">
          <img src="{{i.flag}}">
          <label>{{i.name}}</label>
          <span class="material-icons">star_rate</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col" *ngIf="(listAsiaCountries | appFilterName: filterName) as result">
    <div  *ngIf="(selectFilter == '0' || selectFilter == '1' || selectFilter == '4') && result.length != 0 && (!applyFav || (applyFav && resultAsi>0))">
      <label class="sub-title">Asia</label>
      <br><br>
      <div class="country" *ngFor="let i of listAsiaCountries | appFilterName: filterName| orderBy:'name'">
        <div (click) = "selectedCountry(i)" *ngIf="!applyFav">
          <img src="{{i.flag}}">
          <label>{{i.name}}</label>
          <span *ngIf="i.fav == true" class="material-icons">star_rate</span>
        </div>

        <div (click) = "selectedCountry(i)" *ngIf="applyFav && i.fav">
          <img src="{{i.flag}}">
          <label>{{i.name}}</label>
          <span class="material-icons">star_rate</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col" *ngIf="(listEuropaCountries | appFilterName: filterName) as result">
    <div  *ngIf="(selectFilter == '0' || selectFilter == '1' || selectFilter == '5') && result.length != 0 && (!applyFav || (applyFav && resultEur>0))">
      <label class="sub-title">Europa</label>
      <br><br>
      <div class="country" *ngFor="let i of listEuropaCountries | appFilterName: filterName| orderBy:'name'">
        <div (click) = "selectedCountry(i)" *ngIf="!applyFav">
          <img src="{{i.flag}}">
          <label>{{i.name}}</label>
          <span *ngIf="i.fav == true" class="material-icons">star_rate</span>
        </div>

        <div (click) = "selectedCountry(i)" *ngIf="applyFav && i.fav">
          <img src="{{i.flag}}">
          <label>{{i.name}}</label>
          <span class="material-icons">star_rate</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col" *ngIf="(listOceaniaCountries | appFilterName: filterName) as result">
    <div  *ngIf="(selectFilter == '0' || selectFilter == '1' || selectFilter == '6') && result.length != 0 && (!applyFav || (applyFav && resultOce>0))">
      <label class="sub-title">Oceania</label>
      <br><br>
      <div class="country" *ngFor="let i of listOceaniaCountries | appFilterName: filterName| orderBy:'name'">
        <div (click) = "selectedCountry(i)" *ngIf="!applyFav">
          <img src="{{i.flag}}">
          <label>{{i.name}}</label>
          <span *ngIf="i.fav == true" class="material-icons">star_rate</span>
        </div>

        <div (click) = "selectedCountry(i)" *ngIf="applyFav && i.fav">
          <img src="{{i.flag}}">
          <label>{{i.name}}</label>
          <span class="material-icons">star_rate</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(listAllCountries | appFilterName: filterName) as result">
  <label class="lbl-not-result" *ngIf="result.length == 0 || ((resultAfr == 0 && resultAme == 0 && resultAsi == 0 && resultEur == 0 && resultOce == 0) && applyFav)">No results found</label>
</div>

<app-modal-country [activeModal] = "activeModal"  
                   [countrySelected] = "selectCountry" 
                   (closeModal) = "closeM()"
                   (activeFavorite) = "selectFavoriteCountry($event)"></app-modal-country>
